@media (max-width:1880px){
    .header{
    background-position: -200px -22px;
    }
}

@media (max-width:1840px){
    .header{
    background-position: -250px -22px;
    }
}

@media (max-width:1780px){
    .header{
    background-position: -300px -22px;
    }
}

@media (max-width:1748px){
    .mapas iframe {
        width: 400px;
        height: 400px;
    }
}

@media (max-width:1720px){
    .header{
    background-position: -65px -150px;
    }
    .header{
        justify-content: center;
    }
}

@media (max-width:1498px){
    .mapas iframe {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:1248px){
    .mapas iframe {
        width: 250px;
        height: 250px;
    }
}

@media (max-width:980px){
    .menu a {
       font-size: 15px;
    }
}

@media (max-width:884px){
    .menu a {
       font-size: 13px;
    }

    .form input {
        width: 80%;
    }
    
    .form textarea {
        width: 80%;
    } 
}

@media (max-width:550px){
    .form input[type="submit"]{
        width: 30%;
    }
}

@media (max-width:498px){

    .nav {
        height: auto;
    }
    .menu {
        width: 80%;
        flex-direction: column;
    }
    
    .menu a {
        font-size: 17px;
    }
}

@media (max-width:460px){

    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        grid-auto-rows: 100px;
    }
}

@media (max-width:280px){

    
    .mapas iframe {
        width: 200px;
        height: 200px;
    }

    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        grid-auto-rows: 100px;
    }

    .form input[type="submit"]{
        width: 40%;
    }
}